@import url("https://fonts.googleapis.com/css?family=Rozha One");

.container {
  display: flex;
  height: 100vh;
  background-color: #F5E7E0;
}

.left-side {
  flex: 1; 
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 56px;
  font-weight: ;
  color: #AD392A;
}

div.buttons{
  margin-top: 40px;
}
button{
  width: 300px;
  height: 80px;
}
